/* Reset and Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure footer stays at the bottom */
}

/* Header Section */
header {
    background: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 1.2em;
    font-weight: bold;
}

.nav-list {
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0;
}

.nav-list a {
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: #333;
}

/* Content Layout */
.content {
    display: flex;
    gap: 10px;
    flex: 1; /* Push footer to the bottom */
    padding: 10px;
}

.sidebar {
    width: 15%;
    background: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.sidebar ul {
    margin: auto;
    /* padding: 0 0 0 20px; */
    padding-left: 20px;
    font-size: 12px;
}

section {
    margin-bottom: 10px;
}

.main {
    flex: 1;
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Typography */
h1, h2, h3 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
}

/* Footer Section */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

footer p {
    margin: auto;
}

/* Mini Icon */
#mini-icon {
    width:  75%;
    height: 75%;
    border-radius: 50%;
    background-position: center center;
    margin: auto;
    margin-bottom: 10px;
    display: block;
}

/* Mini Profile Contents */
/* aside ul { 
    display: inline-block;
    text-align: left;
    margin-top: 10px;
    padding: 10px;
} */

/* Clock */
#clock {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }

    .sidebar.left {
        order: 2;
    }

    .main {
        order: 1;
    }

    .sidebar.right {
        order: 3;
    }

    /* Responsive Mini Profile */
    .mini-profile-container {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    /* Mini Icon */
    #mini-icon {
        width:  30%;
        height: 30%;
        border-radius: 50%;
        background-position: center center;
        margin-left: 20px;
    }

    /* Mini Profile List */
    .mini-profile-container ul {
        flex-grow: 1;
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: left;
    }
}
